*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

header{
  min-height: 10vh;
  padding: 1rem;
  background-color: green;
}

main{
  min-height: 80vh;
}
.welcome{
  height: 10vh !important;
}

footer{
  min-height: 5vh;
  padding: 1rem;
  background-color: green;
}

nav {
background-color: green;
}


body{

background-image: url(../images/fondoSiete.jpg);
background-position:left;

}


/* CARTA LOGIN INFO */

.cardBox {
  width: 450px;
  height: 300px;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px,
    rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
}

.card {
  position: absolute;
  width: 98%;
  height: 98%;
  background: #000814;
  border-radius: 20px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  overflow: hidden;
  padding: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.5) 0px 18px 36px -18px inset;
}

.cardBox::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 150%;
  background: white;
  background: -webkit-linear-gradient(to right, green, #FF8C00, green);
  background: linear-gradient(to right, green, #FF8C00, green);
  animation: glowing01 5s linear infinite;
  transform-origin: center;
  animation: glowing 5s linear infinite;
}

@keyframes glowing {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 320px) and (max-width: 370px){

  .cardBox {
    width: 350px;
    height: 400px;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px,
      rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
  }

}

/* 320 FOOTER */
@media (max-width: 320px) {
  header{
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .footer {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }

  .footer div {
    margin-bottom: 10px;
  }

  .logoFooter {
    width: auto;
    max-height: 250px;
  }
}

