*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
min-height: 10vh;
padding: 1rem;
}

main{
min-height: 80vh;
}


footer{
min-height: 5vh;
padding: 1rem;
}

/* BOTONES HEADER */
.purple-button {
  background-color: white;
  color: purple;
  border: 2px solid purple;
  border-radius: 10px;
  padding: 8px 16px;
  margin-left: 10px;
}


/* CARTAS  */

.card {
position: relative;
width: 250px;
height: 250px;
color: black;
background: black;
overflow: hidden;
border-radius: 20px;
}

.temporary_text {
font-weight: bold;
font-size: 24px;
padding: 6px 12px;
color: #f8f8f8;
}

.card_title {
font-weight: bold;
}

.card_content {
position: absolute;
left: 0;
bottom: 0;
  /* edit the width to fit card */
width: 100%;
padding: 20px;
background: #f2f2f2;
border-top-left-radius: 20px;
  /* edit here to change the height of the content box */
transform: translateY(150px);
transition: transform .25s;
}

.card_content::before {
content: '';
position: absolute;
top: -47px;
right: -45px;
width: 100px;
height: 100px;
transform: rotate(-175deg);
border-radius: 50%;
box-shadow: inset 48px 48px #f2f2f2;
}

.card_title {
color: #131313;
line-height: 15px;
}

.card_subtitle {
display: block;
font-size: 12px;
margin-bottom: 10px;
}

.card_description {
font-size: 14px;
opacity: 0;
transition: opacity .5s;
}

.card:hover .card_content {
transform: translateY(0);
}

.card:hover .card_description {
opacity: 1;
transition-delay: .25s;
}



.card_image {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

/* BANNER DOS */



.banner {
  position: relative;
  overflow: hidden;
}

.content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  color: #fff;
  text-align: center;
  z-index: 2;
}

.paragraph {
  color: #000;
  font-size: 24px;
  font-family: "Arial", sans-serif;
}

.btn-group {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn {
  width: auto;
  height: 40px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
}

.btn-primary {
  background-color: #87CEFA;
}

.btn-info {
  background-color: #ADD8E6;
}

.btn-success {
  background-color: #90EE90;
}



/* REDES */
.social {
margin: 0;
list-style: none;
padding-left: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100%;
}

.social .social-item {
margin: 0 30px;
width: 40px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
}

.social .social-item .social-link {
position: relative;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
background: #fff;
text-align: center;
transform: perspective(1000px) rotate(-30deg) skew(25deg)
  translate(0, 0);
transition: all 0.4s ease;
}

.social .social-item .social-link::before {
content: "";
position: absolute;
top: 5px;
left: -10px;
height: 100%;
width: 10px;
background: #b1b1b1;
transition: all 0.4s ease;
transform: rotate(0deg) skewY(-45deg);
}

.social .social-item .social-link::after {
content: "";
position: absolute;
top: 40px;
left: -5px;
height: 10px;
width: 100%;
background: #b1b1b1;
transition: all 0.4s ease;
transform: rotate(0deg) skewX(-45deg);
}

.social .social-item .social-link:hover {
transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(5px, -5px);
box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}

.social .social-item:nth-child(1) a {
color: #3b5999;
}

.social .social-item:nth-child(1):hover a {
background: #3b5999;
}

.social .social-item:nth-child(1):hover a::before {
background: #3b5999;
}

.social .social-item:nth-child(1):hover a::after {
background: #3b5999;
}

.social .social-item:nth-child(2) a {
color: #55acee;
}

.social .social-item:nth-child(2):hover a {
background: #55acee;
}

.social .social-item:nth-child(2):hover a::before {
background: #55acee;
}

.social .social-item:nth-child(2):hover a::after {
background: #55acee;
}

.social .social-item:nth-child(3) a {
color: #dd4b39;
}

.social .social-item:nth-child(3):hover a {
background: #dd4b39;
}

.social .social-item:nth-child(3):hover a::before {
background: #dd4b39;
}

.social .social-item:nth-child(3):hover a::after {
background: #dd4b39;
}

.social .social-item:nth-child(4) a {
color: #e4405f;
}

.social .social-item:nth-child(4):hover a {
background: #e4405f;
}

.social .social-item:nth-child(4):hover a::before {
background: #e4405f;
}

.social .social-item:nth-child(4):hover a::after {
background: #e4405f;
}

.social .social-item .social-link:hover {
color: #ffffff;
}

/* FOOTER */

.footer {
background: linear-gradient(to right, #e7c2c2, purple);
color: #fff;
padding: 20px;
}

.footer-content {
display: flex;
align-items: center;
justify-content: space-between;
}


.social {
list-style: none;
padding: 0;
margin: 0;
display: flex;
}

.social-item {
margin-right: 10px;
}

.social-link {
color: #fff;
text-decoration: none;
}

.social-link svg {
width: 24px;
height: 24px;
}

/* TARJET */
.cardOne {
width: 245px;
height: 155px;
background: lightgrey;
position: relative;
border-radius: 15px;
overflow: hidden;
}

.foreground {
border-radius: 15px;
position: absolute;
width: 100%;
height: 100%;
background: rgba(255, 255, 255, 0.18);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.8px);
-webkit-backdrop-filter: blur(2.8px);
padding: 16px;
color: white;
}

.credit-card-header {
display: flex;
justify-content: space-between;
}

.credit-card-chip-container {
margin: 8px 0;
height: 40px;
width: 40px;
}

.chip {
width: 100%;
height: 100%;
}

.category, .bank {
font-size: smaller;
}

.info-container {
width: 100%;
display: flex;
flex-direction: column;
gap: 4px;
}

.names {
align-self: flex-end;
text-transform: uppercase;
font-size: smaller;
}

.serial {
align-self: flex-end;
letter-spacing: 2px;
font-size: 15px;
font-family: monospace;
}

.expire {
margin-left: 3px;
font-size: smaller;
}