<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client | Manager</title>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="./manager.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>

<header></header>
<main>
  
  <div id="app" class="m-1 d-flex flex-wrap">
    <div class="formTable">
      <div class="form">
        <h1 class="fw-semibold">Client Manager</h1>
        <form class="col-8 col-sm-5 col-md-10">
          <div class="mb-3">
            <label for="firstName" class="form-label">Name:</label>
            <input type="text" class="form-control" name="firstName" id="firstName" placeholder="David" v-model="clientNew.firstName" required>
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name:</label>
            <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Doe" v-model="clientNew.lastName" required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email address:</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="david@aol.com" v-model="clientNew.email" required>
          </div>
          <button type="button" class="btn btn-success" v-on:click="addClient">Add client</button>
        </form>
      </div>
      <div class="table">
        <h2 class="clientList fw-normal">Client List</h2>
        <table class="">
          <thead class="text-center" >
            <tr>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr v-for="client in clients">
              <td>{{ client.firstName }}</td>
              <td>{{ client.lastName }}</td>
              <td>{{ client.email }}</td>
              <td><button type="button" v-on:click="deleteClient(client._links.self.href)"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash-x" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 7h16" />
                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                <path d="M10 12l4 4m0 -4l-4 4" />
              </svg></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="json col-8 table-responsive px-5">
      <h2>Client REST Response</h2>
      <pre>{{ json }}</pre>
    </div>
  </div>
</main>
<footer></footer>

<script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="./manager.js"></script>


</body>
</html>
